<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post Page</title>
    <link rel="icon" type="image/png" href="/img/logo_blog.png">
    <!-- BOOTSTRAP CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>

<body style="background-color: #212121; color: #fff;">

    <!-- Con include, incrustamos el fragmento que habiamos creado. HEADER -->
    <div th:include="posts/layout.html::header-app"></div>

    <div class="container mt-5 pp">
        <div class="card">
            <div class="card-header pp">
                <h5 style="color: #ffc107; font-size: 32px;" class="card-title pp" th:text="${post.title}"></h5>
                <p class="pp user-title" th:text="${post.user.username}"></p>
                <span style="font-size: 12px;" th:text="${post.createdAt}"></span>
            </div>
            <div class="card-body pp">
                <p class="card-text pp" th:text="${post.content}"></p>
            </div>

            <!-- comment -->
            <div th:if="${not #lists.isEmpty(comments)}" >
                <ul class="list-group list-group-flush pp">
                    <li th:each="comment : ${comments}" class="list-group-item pp">
                        <div class="d-flex justify-content-between pp">
                            <h6 class="mb-0 pp" th:text="${comment.user.username}"></h6>
                            <small style="color: #fff; font-size: 12px;" th:text="${comment.createdAt}"></small>
                        </div>
                        <div class="d-flex justify-content-between pp">
                            <p style="color: #fff;" class="mb-0 pp" th:text="${comment.content}"></p>
                            <!-- buttons -->
                            <div class="btn-box" th:if="${user != null && user.id == comment.user.id}">
                                <a class="btn btn-sm btn-warning me-1 pp" th:href="@{/comment/edit/{id} (id=${comment.id}) }"><img src="/img/edit_comment.png" alt="edit"></a>
                                <a class="btn btn-sm btn-danger me-1 pp" th:href="@{/comment/delete/{id} (id=${comment.id}) }"><img src="/img/delete_comment.png" alt="delete"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


            <div style="color: #fff;" class="card-footer pp">
                <form th:action="@{/comment/addComment}" method="post">
                    <div class="mb-3 pp">
                        <input type="hidden" name="postId" th:value="${post.id}" />
                        <label for="content" class="form-label pp">Añadir Comentario:</label>
                        <textarea class="form-control pp" id="content" name="content" rows="2" autocomplete="off"></textarea>
                    </div>
                    <div class="text-end pp">
                        <button type="submit" class="btn btn-secondary pp">Comenta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- BOOTSTRAP JS -->
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>