<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Post</title>
    <link rel="icon" type="image/png" href="/img/logo_blog.png">
    <!-- BOOTSTRAP CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body style="background-color: #212121; color: #fff;">

    <!-- Con include, incrustamos el fragmento que habiamos creado. HEADER -->
    <div th:include="posts/layout.html::header-app"></div>

    <div class="container mt-5 cp">
        <div class="row justify-content-center cp">
            <div class="col-md-8 cp">
                <div class="card cp">
                    <div class="card-header cp">
                        <h3>Editar Post</h3>
                    </div>
                    <div class="card-body cp">
                        <form th:action="@{/post/update}" method="post">
                            <input type="hidden" name="idPost" th:value="${post.id}">
                            <div class="mb-3 cp">
                                <label for="title" class="form-label cp">Título</label>
                                <input type="text" class="form-control cp" id="title" name="title" th:value="${post.title}">
                            </div>
                            <div class="mb-3 cp">
                                <label for="content" class="form-label cp">Contenido</label>
                                <textarea class="form-control cp" id="content" name="content" rows="15" th:text="${post.content}"></textarea>
                            </div>
                            <div class="text-end cp">
                                <a class="btn btn-danger cp" th:href="@{/post/mine}">Cancelar</a>
                                <button type="submit" class="btn btn-secondary cp">Editar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- BOOTSTRAP JS -->
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>